// ===== flex mixin =====

@mixin flex($align-items, $justify-content) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content; 
}

// ===== before mixin =====
@mixin before($widht, $height, $background) {
  position: absolute;
  z-index: -9999;
  border-radius: 50%;
  width: $widht;
  height: $height;
  background: $background;
}

// responsive mixin

@mixin breakpoint-down($site-width) {
    @media only screen and (max-width: $site-width) {
      @content;
    }
  }
