@import '../../Assets/scss/Mixin.scss';

.sidebar {
    background: rgba(80, 110, 131, 0.2);
    box-shadow: inset 0px 1px 2px rgba(239, 232, 232, 0.6);
    backdrop-filter: blur(30px);
    border-radius: 8px;
    min-width: 117px;
    height: 734px;
    padding-top: 38px;

    &__list{
        @include flex(center, space-between);
        flex-direction: column;  
    }

    &__item {
        margin-bottom: 24px;

        .link-active{
            color: #73FFF2;

            i{
                color: #73FFF2;
            }
        }

        a{
            @include flex(center, space-between);
            flex-direction: column;
            font-weight: 600;
            font-size: 12px;
            line-height: 170%;

            i{
                font-size: 30px;
                margin-bottom: 6px;
            }
        }
    }

}